<%include header %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/restaurantlist.css">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsupportedcontent" aria-controls="navbarsupportedcontent" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsupportedcontent">
            <a href="/"><img id="logo" src="/images/yelp.png"></a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link custom" href="/restaurants"><i class="fas fa-utensils"></i> All Restaurants</a>
                </li>
            </ul>

            <form id="restaurantform">
                <input class="searchinput" type="search" name="restaurantinput" placeholder="Restaurant">
                <input class="searchinput" type="search" name="locationinput" placeholder="City">
                <button type="submit" id="searchbtn"><i class="fas fa-search"></i></button>
            </form>

            <button class="loginbtn"><a href="/loginpage">Login</a></button>
        </div>
    </nav>
<%include footer %>