* {
    font-family: 'Helvetica';
    -webkit-padding-start: 0;
}

body {
    background-color: #FFF;
    width: 100%;
}

/* Restaurant Card Styling */
.cardbody {
    margin: 15px 15px;
}
.cardcontainer {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    display: inline-block;
    height: 325px;
    margin: 50px 35px;
    width: 325px;
}

.cardcuisinetype {
    font-size: 18px;
}

.cardpic {
    border-radius: 5px;
    height: 200px;
    width: 100%;
}

.cardrestaurantlocation {
    font-size: 18px;
}

.cardrestaurantname {
    color: #0073bb;
    font-size: 20px;
    font-weight: 550;
}

.cardrestaurantname:hover {
    color: #0073bb;
}

/* */

/* Landing Container Styling */
#landingcontainer {
    background-image: url("/images/landingpic.png");
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
    height: 700px;
    overflow: hidden;
    width: 100%;
}

#logo {
    position: absolute;
    left: 50%;
    top: 135px;
    transform: translateX(-50%);
    width: 250px;
}

.loginbtn {
    border-radius: 4px;
    color: #FFF;
    display: block;
    float: right;
    font-size: 18px;
    font-weight: 600;
    margin-right: 35px;
    margin-top: 18px;
    padding: 3px 5px;
}

.loginbtn:hover {
    background: rgba(51, 51, 51, 0.3);
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

#restaurantform {
    height: 60px;
    width: 735px;
    margin: 0 auto;
    margin-top: 300px;
}

#searchbtn {
    background: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    font: inherit;
    margin-left: 10px;
    outline: inherit;
    padding: 0;
}

.searchinput {
    border: none;
    border-radius: 4px;
    height: 48px;
    margin: 0 auto;
    padding-left: 12px;
    width: 350px;
}

.searchinput:focus {
    outline-width: 0;
}

.searchinput::placeholder {
    color: rgb(100, 100, 100);
}
/* */

/* Restaurant List Styling */
#restaurantcontainer {
    border-top: 1px solid rgb(180, 180, 180);
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1200px;
}

#restauranthdng {
    color:#d32323;
    font-size: 25px;
    font-weight: 630;
    margin-top: 80px;
    text-align: center;
}

/* Autocomplete styling */
#usersearch {
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    color: #14171a;
    font-size: 12px;
    height: 32px;
    padding: 8px 32px 8px 12px;
    outline: 0;
}

.ui-autocomplete {
    background-color: #FFF;
    list-style-type: none;
    width: 275px;
    border-radius: 4px;

}

.ui-autocomplete li {
    cursor: pointer;
    padding: 7px 15px 7px 10px;
    overflow: hidden;
    color: #66757f;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 32px;
}

.ui-autocomplete li:hover {
    background-color: #E5F2F7;
    color: #0084B4;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* */
