* {
    font-family: 'Roboto';
    -webkit-padding-start: 0;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #fff;
}
/* Navbar Styling */
.loginbtn {
    background-color: #d32323;
    border: 1px solid #d32323;
    border-radius: 8px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    margin-right: 20px;
    padding: 0px 10px;
}

.loginbtn:hover {
    cursor: pointer;
    background-color: #bd1f1f;
}

.loginbtn:focus {
    outline: 0;
}

#logo {
    margin-left: 50px;
    height: 50px;
}

.navbar{
    background-color: #d32323 !important;
    border-bottom: solid 0.5px #bd1f1f;
    padding: 5px;
}

.navbar-nav {
    margin-left: 220px;
}

.nav-link {
    border-bottom: solid 1px inherit;
    color: #FFF !important;
    font-weight: 550;
    margin-right: 10px !important;
}

.nav-link:hover {
    background-color: #a71c1c !important;
}

/* */

/* Restaurant Search Styling */
#restaurantform {
    margin-right: 450px;
}

#searchbtn {
    background: none;
    color: #FFF;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.searchinput {
    border: none;
    border-radius: 4px;
    height: 38px;
    padding: 5px;
    width: 250px;
}

.searchinput:focus {
    outline-width: 0;
}

.searchinput::placeholder {
    color: rgb(124, 124, 124);
}

/* */

/* Restaurant Container Styling */

#picturecontainer {
    height: 250px;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
}

#restaurantbackground {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    height: 400px;
    width: 100%;
}

#restaurantbuttons {
    position: absolute;
    right: 0;
    top: 55px;
}

#restaurantcuisinetype {
    font-size: 18px;
}

#restaurantinfo {
    padding-top: 15px;
}

#restaurantinfocontainer {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}

#restaurantlocation {
    font-size: 18px;
}

.restaurantpicture {
    margin: 0 23px;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.restaurantpicture:hover {
    cursor: pointer;
}

#restaurantname {
    font-size: 36px;
    font-weight: 600;
}

#addphotobtn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 8px 16px;
}

#addphotobtn:hover {
    color: #d32323;
}

#bookmarkbtn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 8px 16px;
}

#bookmarkbtn:hover {
    color: #d32323;
}

#reviewbtn {
    color: white;
    cursor: pointer;
    background-color: #d32323;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 19px;
}

#reviewbtn:hover {
    background-color: #ed0008;
}
/* */

/* Reviews Container Styling*/
.review {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0px;
    width: 900px;
}

.reviewbody {
    display: inline-block;
    font-size: 16px;
    width: 600px;
}

#reviewscontainer {
    border-top: 1px solid rgb(180, 180, 180);
    display: relative;
    padding: 20px 0px;
    margin: 20px auto;
    width: 1200px;
}

#reviewhdng {
    color:#d32323;
    display: block;
    font-size: 25px;
    font-weight: 630;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 1200px;
}

.userprofileinfo {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.username {
    color: #0073bb;
    font-size: 17px;
    font-weight: 550;
}

.username:hover {
    color: #0073bb;
    text-decoration: underline;
}
/* */

/* Autocomplete Styling */
#usersearch {
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    color: #14171a;
    font-size: 12px;
    height: 32px;
    padding: 8px 32px 8px 12px;
    outline: 0;
}

.ui-autocomplete {
    background-color: #FFF;
    list-style-type: none;
    width: 275px;
    border-radius: 4px;

}

.ui-autocomplete li {
    cursor: pointer;
    padding: 7px 15px 7px 10px;
    overflow: hidden;
    color: #66757f;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 32px;
}

.ui-autocomplete li:hover {
    background-color: #E5F2F7;
    color: #0084B4;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* */
