* {
    font-family: 'Roboto';
    -webkit-padding-start: 0;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
}

/* Login Styling */
.loginbtn {
    background-color: #d32323;
    border: 1px solid #d32323;
    border-radius: 8px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    margin-right: 20px;
    padding: 0px 10px;
}

.loginbtn:hover {
    cursor: pointer;
    background-color: #bd1f1f;
}

.loginbtn:focus {
    outline: 0;
}

/* */

/* Navbar Styling */
#logo {
    margin-left: 50px;
    height: 50px;
}

.navbar{
    background-color: #d32323 !important;
    border-bottom: solid 0.5px #bd1f1f;
    padding: 5px;
}

.navbar-nav {
    margin-left: 220px;
}

.nav-link {
    border-bottom: solid 1px inherit;
    color: #FFF !important;
    font-weight: 550;
    margin-right: 10px !important;
}

.nav-link:hover {
    background-color: #a71c1c !important;
}

/* */

/* Restaurant Search Styling */
#restaurantform {
    margin-right: 450px;
}

#searchbtn {
    background: none;
    color: #FFF;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.searchinput {
    border: none;
    border-radius: 4px;
    height: 38px;
    padding: 5px;
    width: 250px;
}

.searchinput:focus {
    outline-width: 0;
}

.searchinput::placeholder {
    color: rgb(124, 124, 124);
}

/* */

/* Restaurant List Styling */
#addrestaurantbtn {
    background-color: #fff;
    border: 1px solid #d32323;
    border-radius: 3px;
    color: #d32323;
    cursor: pointer;
    float: right; 
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 8px 16px;
}

#addrestaurantbtn:hover {
    background-color: rgb(245, 245, 245);
}

.bookmarkbtn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 8px 16px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.bookmarkbtn:hover {
    color: #d32323;
}

.cuisinetype {
    font-size: 18px;
}

.restaurantcontainer  {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-top: 25px;
    position: relative;
    width: 800px;
}

.restaurantinfo {
    float: right;
}

.restaurantintro {
    display: inline-block;
    margin-left: 15px;
}

#restauranthdng {
    color:#d32323;
    font-size: 25px;
    font-weight: 630;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
}

#restaurantlistcontainer {
    height: 800px;
    margin: 20px auto;
    width: 1200px;
}

restaurantlocation {
    font-size: 18px;
}

.restaurantname {
    color: #0073bb;
    font-size: 18px;
    font-weight: 550;
}

.restaurantname:hover {
    color: #0073bb;
    text-decoration: underline;
}

.restaurantnum {
    font-size: 18px;
}

.restaurantpic {
    vertical-align: top;
    border-radius: 5px;
    object-fit: cover;
    height: 100px;
    width: 100px;
}
/* */

/* Sort Bar Styling*/
.sortbtn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 11px;
    text-align: center;
}

.sortbtn:hover {
    color: #d32323;
}

.sortbtn:hover {
    cursor: pointer;
}

#sortcontainer {
    border-bottom: 1px solid rgb(180, 180, 180);
    border-top: 1px solid rgb(180, 180, 180);
    padding: 20px 0px;
    margin: 0 auto;
    width: 1200px;
}

#sortheading {
    font-size: 18px;
    font-weight: 550;
    margin-right: 20px;
}
/* */

/* Autocomplete styling */
#usersearch {
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    color: #14171a;
    font-size: 12px;
    height: 32px;
    padding: 8px 32px 8px 12px;
    outline: 0;
}

.ui-autocomplete {
    background-color: #FFF;
    list-style-type: none;
    width: 275px;
    border-radius: 4px;

}

.ui-autocomplete li {
    cursor: pointer;
    padding: 7px 15px 7px 10px;
    overflow: hidden;
    color: #66757f;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 32px;
}

.ui-autocomplete li:hover {
    background-color: #E5F2F7;
    color: #0084B4;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* */
